# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Project File/CoreLibs/Debug/CoreLibs.log
Project File/CoreLibs/Debug/CoreLibs.tlog/CoreLibs.lastbuildstate
Project File/CoreLibs/Debug/CoreLibs.tlog/unsuccessfulbuild
*.log
